.btn {
  display: inline-flex;
  color: $color-default-white;
  border: 2px solid $color-default-white;
  background-color: inherit;
  padding: 27px 56px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  letter-spacing: 0.04rem;
  cursor: pointer;
  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  @include hover-focus {
    @media (hover: hover) {
      &:hover:not(.focus-visible) {
        background-color: $color-default-white;
        color: #103aae;
      }
    }
  }

  @include active {
    &:active:not(.focus-visible) {
      color: #102654;
    }
  }

  &.focus-visible:focus {
    outline: 2px solid red;
    color: #103aae;
    background-color: $color-default-white;
  }


  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
